* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    text-align: center;
    min-height: 100vh;
    background-image: url("./img/StarWars2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #ff682f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

h2 {
    position: relative;
    font-size: 2em;
    color: #fff;
    user-select: none;
    animation-name: head;
    animation-duration: 1.99s;
    animation-timing-function: ease-out;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.button {
    position: relative;
    margin-top: 20vh;
    animation-name: left;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

button {
    padding: 10px 20px;
	border: none;
	border-radius: 5px;
    transition: all ease .5s;
}

button:hover {
    transform: scale(0.98);
    transform: rotateY(360deg);
}

.showcase {
    opacity: 0;
    width: 100%;
    margin-top: 80px;
    animation-name: opacity;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.card {
    padding-left: 20px;
    text-align: left;
    width: 50%;
    border-radius: 20px;
    height: 100%;
    background-color: orange;
    display: inline-block;
    transition: height ease 2s;
}

h2 {
    margin: 6px;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        right: -800px;
    }
    100% {
        right: 0;
    }
}

@keyframes left {
    0% {
        left: -1100px;
    }
    100% {
       left: 0;
    }
}


@keyframes head {
    0% {
        top: -800px;
        left: 50%;
    }
    50% {
        top: 0;
        left: 50%;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@media screen {
    
}